Web References/ReviewWS/ReviewWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLastReview">
        <s:complexType />
      </s:element>
      <s:element name="GetLastReviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastReviewResult" type="tns:Review" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Review">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="tns:Subject" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RatingsCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRatings" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRatingsInt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLastReviewSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastReview" />
  </wsdl:message>
  <wsdl:message name="GetLastReviewSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="ReviewWebServiceSoap">
    <wsdl:operation name="GetLastReview">
      <wsdl:input message="tns:GetLastReviewSoapIn" />
      <wsdl:output message="tns:GetLastReviewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReviewWebServiceSoap" type="tns:ReviewWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastReview">
      <soap:operation soapAction="http://tempuri.org/GetLastReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReviewWebServiceSoap12" type="tns:ReviewWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastReview">
      <soap12:operation soapAction="http://tempuri.org/GetLastReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReviewWebService">
    <wsdl:port name="ReviewWebServiceSoap" binding="tns:ReviewWebServiceSoap">
      <soap:address location="https://localhost:44389/ReviewWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReviewWebServiceSoap12" binding="tns:ReviewWebServiceSoap12">
      <soap12:address location="https://localhost:44389/ReviewWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>