Web References/SubjectWS/SubjectWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReadData">
        <s:complexType />
      </s:element>
      <s:element name="ReadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadDataResult" type="tns:ArrayOfSubject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Reviews" type="tns:LazyOfListOfReview" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LazyOfListOfReview">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:ArrayOfReview" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReview">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Review">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="tns:Subject" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRatingResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReadData" />
  </wsdl:message>
  <wsdl:message name="ReadDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReadDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapIn">
    <wsdl:part name="parameters" element="tns:AddRating" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapOut">
    <wsdl:part name="parameters" element="tns:AddRatingResponse" />
  </wsdl:message>
  <wsdl:portType name="SubjectWebServiceSoap">
    <wsdl:operation name="ReadData">
      <wsdl:input message="tns:ReadDataSoapIn" />
      <wsdl:output message="tns:ReadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <wsdl:input message="tns:AddRatingSoapIn" />
      <wsdl:output message="tns:AddRatingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubjectWebServiceSoap" type="tns:SubjectWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadData">
      <soap:operation soapAction="http://tempuri.org/ReadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubjectWebServiceSoap12" type="tns:SubjectWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadData">
      <soap12:operation soapAction="http://tempuri.org/ReadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap12:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectWebService">
    <wsdl:port name="SubjectWebServiceSoap" binding="tns:SubjectWebServiceSoap">
      <soap:address location="https://localhost:44389/SubjectWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubjectWebServiceSoap12" binding="tns:SubjectWebServiceSoap12">
      <soap12:address location="https://localhost:44389/SubjectWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>