Xamarin/UniversityAdvisor/UniversityAdvisor.Android/Web References/SubjectWS/SubjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xamarin.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.xamarin.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.xamarin.com/webservices/">
      <s:element name="GetSubjects">
        <s:complexType />
      </s:element>
      <s:element name="GetSubjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubjectsResult" type="tns:ArrayOfSubject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ReviewCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="tns:Subject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="tns:Subject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSubjectResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSubjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="GetSubjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSubject" />
  </wsdl:message>
  <wsdl:message name="CreateSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="EditSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:EditSubject" />
  </wsdl:message>
  <wsdl:message name="EditSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:EditSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSubject" />
  </wsdl:message>
  <wsdl:message name="DeleteSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSubjectResponse" />
  </wsdl:message>
  <wsdl:portType name="SubjectServiceSoap">
    <wsdl:operation name="GetSubjects">
      <wsdl:input message="tns:GetSubjectsSoapIn" />
      <wsdl:output message="tns:GetSubjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSubject">
      <wsdl:input message="tns:CreateSubjectSoapIn" />
      <wsdl:output message="tns:CreateSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditSubject">
      <wsdl:input message="tns:EditSubjectSoapIn" />
      <wsdl:output message="tns:EditSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <wsdl:input message="tns:DeleteSubjectSoapIn" />
      <wsdl:output message="tns:DeleteSubjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubjectServiceSoap" type="tns:SubjectServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://www.xamarin.com/webservices/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubject">
      <soap:operation soapAction="http://www.xamarin.com/webservices/CreateSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSubject">
      <soap:operation soapAction="http://www.xamarin.com/webservices/EditSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap:operation soapAction="http://www.xamarin.com/webservices/DeleteSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubjectServiceSoap12" type="tns:SubjectServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubjects">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/GetSubjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubject">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/CreateSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSubject">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/EditSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/DeleteSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectService">
    <wsdl:port name="SubjectServiceSoap" binding="tns:SubjectServiceSoap">
      <soap:address location="http://192.168.1.42:59379/SubjectService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubjectServiceSoap12" binding="tns:SubjectServiceSoap12">
      <soap12:address location="http://192.168.1.42:59379/SubjectService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>